{
	"useTabs": true,
	"plugins": [
		"prettier-plugin-astro",
		"prettier-plugin-svelte",
		"prettier-plugin-tailwindcss"
	],
	"tailwindStylesheet": "./src/styles/global.css",
	"overrides": [
		{
			"files": "*.astro",
			"options": {
				"parser": "astro"
			}
		},
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	]
}
