@layer components {
	.button {
		--_height: --spacing(8);
		--_font-size: var(--text-base);
		--_icon-size: 16px;
		--_radius: var(--radius-lg);
		--_gap: --spacing(1.5);

		padding-inline: --spacing(3);
		width: fit-content;
		height: var(--_height);
		font-size: var(--_font-size);
		font-weight: 500;
		border-radius: var(--_radius);
		display: flex;
		flex-shrink: 0;
		align-items: center;
		gap: var(--_gap);
		transition-property: color, background-color, border-color;
		transition-duration: 150ms;
		transition-timing-function: ease-in-out;
		-webkit-user-select: none;
		user-select: none;

		&.button-full {
			width: 100%;
			justify-content: center;
		}

		.button-icon,
		svg {
			width: var(--_icon-size);
			height: var(--_icon-size);
			display: flex;
			align-items: center;
			justify-content: center;
			transition-property: opacity, rotate;
			transition-duration: 150ms;
			transition-timing-function: ease-in-out;

			@media (width < theme(--breakpoint-md)) {
				width: calc(var(--_icon-size) + 4px);
				height: calc(var(--_icon-size) + 4px);
			}
		}

		&:hover svg,
		&:hover .button-icon {
			rotate: -3deg;
		}
	}

	.button.button-primary {
		color: var(--color-surface);
		background-color: var(--color-pine);

		&:hover {
			background-color: --alpha(var(--color-pine) / 90%);
		}
	}

	.button.button-secondary {
		color: var(--color-text);
		background-color: --alpha(var(--color-muted) / 10%);
		border-color: --alpha(var(--color-muted) / 20%);

		&:hover {
			background-color: --alpha(var(--color-muted) / 20%);
			border-color: --alpha(var(--color-muted) / 30%);
		}
	}

	.button.button-ghost {
		color: var(--color-text);

		&:hover {
			color: var(--color-text);
			background-color: --alpha(var(--color-muted) / 10%);
		}
	}

	.button.button-outline {
		font-family: var(--font-serif);
		font-style: italic;
		border-color: var(--color-text);
		border-style: solid;
		border-top-width: 1px;
		border-right-width: 2px;
		border-bottom-width: 2px;
		border-left-width: 1px;

		&:hover {
			color: var(--color-gold);
			background-color: --alpha(var(--color-gold) / 10%);
			border-color: var(--color-gold);
		}
	}

	.card {
		--_title-font-size: var(--text-lg);
		--_title-line-height: var(--text-lg--line-height);
		--_description-font-size: var(--text-base);
		--_description-line-height: var(--text-base--line-height);
		--_gap: --spacing(3);

		background-color: var(--color-surface);
		border: 1px solid var(--color-overlay);
		border-radius: var(--radius-card);
		overflow: hidden;
		transition-property: background-color, border-color;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		transition-duration: 150ms;

		&.card-lg {
			--_title-font-size: var(--text-4xl);
			--_title-line-height: var(--text-4xl--line-height);
			--_description-font-size: var(--text-xl);
			--_description-line-height: var(--leading-relaxed);
		}
	}

	a[href]:hover > .card {
		background-color: --alpha(var(--color-iris) / 5%);
		border-color: --alpha(var(--color-iris) / 20%);
	}

	.card img.card-media {
		background-color: var(--color-surface);
		object-fit: cover;
		object-position: top;
		border-block-end: 1px solid var(--color-overlay);
		transition-property: background-color, border-color;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		transition-duration: 150ms;
	}

	a[href]:hover > .card img.card-media {
		border-color: --alpha(var(--color-iris) / 20%);
	}

	.card .card-body {
		padding: var(--spacing-card-gutters);
		display: flex;
		flex-direction: column;
		gap: var(--_gap);
	}

	.card .card-actions {
		padding: var(--spacing-card-gutters);
		display: flex;
		align-items: center;
		justify-content: end;
		gap: --spacing(3);
	}

	.card .card-title {
		font-size: var(--_title-font-size);
		line-height: var(--_title-line-height);
		font-weight: 600;
		letter-spacing: var(--tracking-tight) /* -0.025em */;
	}

	.card .card-description {
		color: var(--color-subtle);
		font-size: var(--_description-font-size);
		line-height: var(--_description-line-height);
	}

	details > summary .summary-caret {
		width: var(--_icon-size, 14px);
		height: var(--_icon-size, 14px);
		transition-property: rotate;
		transition-duration: 150ms;
		transition-timing-function: ease-in-out;

		@media (width < theme(--breakpoint-md)) {
			width: calc(var(--_icon-size, 14px) + 4px);
			height: calc(var(--_icon-size, 14px) + 4px);
		}
	}

	details[open] > summary .summary-caret {
		rotate: 180deg;
	}
}

@utility button-sm {
	--_font-size: var(--text-sm);
	--_icon-size: 14px;
}

@utility button-touch {
	@media (width < theme(--breakpoint-lg)) {
		--_height: 2.75rem;
		--_radius: var(--radius-card-inner, 1rem);
		--_icon-size: 18px;
	}
}

@utility button-lg {
	--_height: 2.75rem;
	--_radius: var(--radius-card-inner, 1rem);
	--_icon-size: 18px;
}

@utility button-xl {
	--_height: --spacing(14);
	--_radius: var(--radius-card-inner, 1rem);
	--_font-size: var(--text-xl);
	--_icon-size: --spacing(5);
	--_gap: --spacing(3);
}
