@import "tailwindcss";
@import "./composition.css";
@plugin "@tailwindcss/typography";

@custom-variant dark {
	@media (prefers-color-scheme: dark) {
		&:where(:not([data-theme], [data-theme] *)) {
			@slot;
		}
	}
	&:where(
		[data-theme="main"],
		[data-theme="main"] *,
		[data-theme="moon"],
		[data-theme="moon"] *
	) {
		@slot;
	}
}

@theme {
	--spacing-page-gutters: 1rem;
	--spacing-page-max-inline-size: 1200px;
	--spacing-page-start: 3rem;

	--color-main-base: #191724;
	--color-main-surface: #1f1d2e;
	--color-main-overlay: #26233a;
	--color-main-muted: #6e6a86;
	--color-main-subtle: #908caa;
	--color-main-text: #e0def4;
	--color-main-love: #eb6f92;
	--color-main-gold: #f6c177;
	--color-main-rose: #ebbcba;
	--color-main-pine: #31748f;
	--color-main-foam: #9ccfd8;
	--color-main-iris: #c4a7e7;

	--color-moon-base: #232136;
	--color-moon-surface: #2a273f;
	--color-moon-overlay: #393552;
	--color-moon-muted: #6e6a86;
	--color-moon-subtle: #908caa;
	--color-moon-text: #e0def4;
	--color-moon-love: #eb6f92;
	--color-moon-gold: #f6c177;
	--color-moon-rose: #ea9a97;
	--color-moon-pine: #3e8fb0;
	--color-moon-foam: #9ccfd8;
	--color-moon-iris: #c4a7e7;

	--color-dawn-base: #faf4ed;
	--color-dawn-surface: #fffaf3;
	--color-dawn-overlay: #f2e9e1;
	--color-dawn-muted: #9893a5;
	--color-dawn-subtle: #797593;
	--color-dawn-text: #464261;
	--color-dawn-love: #b4637a;
	--color-dawn-gold: #ea9d34;
	--color-dawn-rose: #d7827e;
	--color-dawn-pine: #286983;
	--color-dawn-foam: #56949f;
	--color-dawn-iris: #907aa9;

	--color-base: var(--color-dawn-base);
	--color-surface: var(--color-dawn-surface);
	--color-overlay: var(--color-dawn-overlay);
	--color-muted: var(--color-dawn-muted);
	--color-subtle: var(--color-dawn-subtle);
	--color-text: var(--color-dawn-text);
	--color-love: var(--color-dawn-love);
	--color-gold: var(--color-dawn-gold);
	--color-rose: var(--color-dawn-rose);
	--color-pine: var(--color-dawn-pine);
	--color-foam: var(--color-dawn-foam);
	--color-iris: var(--color-dawn-iris);
}

:root {
	color-scheme: light dark;

	@media (width >= theme(--breakpoint-sm)) {
		--spacing-page-gutters: 1.5rem;
		--spacing-page-start: 4rem;
	}

	@media (width >= theme(--breakpoint-md)) {
		--spacing-page-gutters: 3rem;
	}

	@media (prefers-color-scheme: dark) {
		--color-base: var(--color-main-base);
		--color-surface: var(--color-main-surface);
		--color-overlay: var(--color-main-overlay);
		--color-muted: var(--color-main-muted);
		--color-subtle: var(--color-main-subtle);
		--color-text: var(--color-main-text);
		--color-love: var(--color-main-love);
		--color-gold: var(--color-main-gold);
		--color-rose: var(--color-main-rose);
		--color-pine: var(--color-main-pine);
		--color-foam: var(--color-main-foam);
		--color-iris: var(--color-main-iris);
	}

	&[data-theme="main"] {
		color-scheme: dark;

		--color-base: var(--color-main-base);
		--color-surface: var(--color-main-surface);
		--color-overlay: var(--color-main-overlay);
		--color-muted: var(--color-main-muted);
		--color-subtle: var(--color-main-subtle);
		--color-text: var(--color-main-text);
		--color-love: var(--color-main-love);
		--color-gold: var(--color-main-gold);
		--color-rose: var(--color-main-rose);
		--color-pine: var(--color-main-pine);
		--color-foam: var(--color-main-foam);
		--color-iris: var(--color-main-iris);
	}

	&[data-theme="moon"] {
		color-scheme: dark;

		--color-base: var(--color-moon-base);
		--color-surface: var(--color-moon-surface);
		--color-overlay: var(--color-moon-overlay);
		--color-muted: var(--color-moon-muted);
		--color-subtle: var(--color-moon-subtle);
		--color-text: var(--color-moon-text);
		--color-love: var(--color-moon-love);
		--color-gold: var(--color-moon-gold);
		--color-rose: var(--color-moon-rose);
		--color-pine: var(--color-moon-pine);
		--color-foam: var(--color-moon-foam);
		--color-iris: var(--color-moon-iris);
	}

	&[data-theme="dawn"] {
		color-scheme: light;

		--color-base: var(--color-dawn-base);
		--color-surface: var(--color-dawn-surface);
		--color-overlay: var(--color-dawn-overlay);
		--color-muted: var(--color-dawn-muted);
		--color-subtle: var(--color-dawn-subtle);
		--color-text: var(--color-dawn-text);
		--color-love: var(--color-dawn-love);
		--color-gold: var(--color-dawn-gold);
		--color-rose: var(--color-dawn-rose);
		--color-pine: var(--color-dawn-pine);
		--color-foam: var(--color-dawn-foam);
		--color-iris: var(--color-dawn-iris);
	}
}

.astro-code,
.astro-code span {
	color: var(--shiki-light) !important;
}

@variant dark {
	.astro-code,
	.astro-code span {
		color: var(--shiki-dark) !important;
	}
}

/* 
 * Encourage adding role="list" to remove list styles while retaining semantics
 * in Safari/VoiceOver. Styles are removed for scenarios implicitly supported
 * by Safari.
 *
 * Reference: https://www.scottohara.me/blog/2019/01/12/lists-and-safari.html
 */
ol {
	list-style-type: decimal;
}
ul {
	list-style-type: disc;
}
nav ol,
nav li,
ol[role="list"],
ul[role="list"] {
	list-style-type: none;
}

.link,
.prose a {
	color: var(--color-iris);
	text-decoration-line: underline;

	&:hover {
		color: var(--color-text);
	}
}

.animate-enter {
	opacity: 0;
	animation: enter 400ms forwards;
	animation-delay: calc(var(--stagger) * 150ms);

	@media (prefers-reduced-motion: reduce) {
		animation-delay: -1ms !important;
		animation-duration: 1ms !important;
	}
}

/* all code */
code,
.astro-code {
	background-color: var(--color-surface) !important;
	border-radius: var(--radius-xl);
	border-width: 1px;
	border-color: color-mix(in oklab, var(--color-muted) 20%, transparent);
}
/* inline code */
code:not(:has(.line)) {
	padding: 0.25rem;
	border-radius: var(--radius-lg);
}
/* codeblock */
pre > code {
	max-width: 100%;
	overflow-x: auto;
	display: block;
	padding: 1rem;
}
/* prevent extra padding around codeblock */
pre {
	padding: 0;
}

@utility tonal-* {
	color: --value(--color-*);
	background-color: --alpha(--value(--color-*) / 10%);
	border-color: --alpha(--value(--color-*) / 20%);
}

@utility tonal-pressed-* {
	color: --value(--color-*);
	background-color: --alpha(--value(--color-*) / 20%);
	border-color: --alpha(--value(--color-*) / 30%);
}

@keyframes enter {
	0% {
		opacity: 0;
		transform: translateY(-10px);
	}

	100% {
		opacity: 1;
		transform: none;
	}
}
