---
import Page from "../../layouts/page.astro";
import Flower5Icon from "../../assets/flower5.svg";
import Flower7Icon from "../../assets/flower7.svg";
import Flower10Icon from "../../assets/flower10.svg";
import {
	useTranslatedPath,
	useTranslations,
	withLangPaths,
} from "../../i18n/utilities";
import { getAllRepos } from "../../data";

export async function getStaticPaths() {
	return await withLangPaths();
}

let { lang = "en" } = Astro.params;
let t = useTranslations(lang);
let translatePath = useTranslatedPath(lang);

let allRepos = getAllRepos();
---

<Page title={t("home.title")} description={t("home.description")}>
	<section class="wrapper flex min-h-[58svh] flex-1 items-center">
		<div class="grid grid-cols-1 gap-20 md:grid-cols-2">
			<div class="flex flex-col">
				<h1
					class="animate-enter mb-4 max-w-2xl text-6xl font-bold tracking-tight text-balance sm:text-8xl lg:text-9xl"
					style="--stagger: 1"
				>
					{t("home.title")}
				</h1>
				<p
					class="animate-enter mb-12 max-w-md text-2xl text-subtle"
					style="--stagger: 2"
				>
					{t("home.description")}
				</p>
				<div class="flex items-center gap-5">
					<a
						href={translatePath("/themes")}
						class="animate-enter flex shrink-0 items-center gap-2.5 rounded-lg border border-pine/20 bg-pine/90 px-4 py-2.5 font-medium text-surface shadow-sm shadow-pine/30 transition select-none hover:bg-pine dark:text-text"
						style="--stagger: 2.5"
					>
						{t("home.primary_action")}
					</a>
					<a
						href={translatePath("/create")}
						class="animate-enter flex shrink-0 items-center gap-2.5 rounded-lg border border-muted/20 bg-muted/10 px-4 py-2.5 font-medium shadow-sm transition select-none hover:bg-muted/15"
						style="--stagger: 2.75"
					>
						{t("home.secondary_action")}
					</a>
				</div>
			</div>

			<aside class="animate-enter" style="--stagger: 2">
				<svg
					width="724"
					height="506"
					viewBox="0 0 724 506"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
					class="pr-10 max-md:-mt-80 max-md:opacity-30 md:ml-auto"
				>
					<path
						d="M494.21 202.834C466.014 190.404 466.014 138.596 494.21 126.166C520.281 114.672 555.938 136.816 555.938 164.5C555.938 192.184 520.281 214.328 494.21 202.834Z"
						stroke="var(--color-gold)"
						stroke-linejoin="round"></path>
					<path
						d="M313.287 351.662C308.314 366.25 313.536 380.177 326.51 386.929C334.287 390.976 348.986 391.035 348.986 391.035C438.008 393.605 370.511 330.928 367.603 386.068C364.372 447.309 458.139 408.34 476.807 427.008"
						stroke="var(--color-pine)"
						stroke-linecap="round"
						stroke-linejoin="round"></path>
					<g clip-path="url(#clip0_1114_90)">
						<path
							d="M231.278 201.326C275.195 222.822 330.637 235.872 338.264 196.362C345.891 156.852 262.514 61.6903 366.796 65.807C471.079 69.9236 350.422 -19.8417 383.544 -52.9638C416.667 -86.0859 457.196 -79.4782 502.315 -69.7118"
							stroke="var(--color-iris)"
							stroke-linecap="round"
							stroke-linejoin="round"></path>
					</g>
					<path
						d="M524.896 155.563L524.896 61.4375L598.104 108.5L524.896 155.563Z"
						stroke="var(--color-love)"
						stroke-linejoin="round"></path>
					<path
						d="M645.756 310.107C645.756 310.107 684.783 340.881 684.783 368.805C684.783 396.729 636.858 376.733 618.926 399.43C598.069 425.829 687.222 437.386 687.222 463.232C687.222 489.078 645.756 544.899 645.756 544.899"
						stroke="var(--color-rose)"
						stroke-linecap="round"
						stroke-linejoin="round"></path>
					<path
						d="M106.482 449.641L118.174 415.174M129.866 380.706L118.174 415.174M118.174 415.174L83.7065 403.482M118.174 415.174L152.641 426.865"
						stroke="var(--color-foam)"
						stroke-linecap="round"
						stroke-linejoin="round"></path>
					<defs>
						<clipPath id="clip0_1114_90">
							<rect
								width="399.97"
								height="399.97"
								fill="white"
								transform="translate(651.636 67.8247) rotate(135)"></rect>
						</clipPath>
					</defs>
				</svg>
			</aside>
		</div>
	</section>

	<div class="h-40"></div>

	<section class="wrapper grid grid-cols-1 gap-6 md:grid-cols-2">
		<div
			class="flex flex-col gap-6 rounded-3xl border border-muted/10 bg-surface p-10"
		>
			<Flower7Icon class="size-11 fill-rose/20 stroke-rose" />

			<h2 class="text-4xl font-semibold tracking-tight">
				Colours &amp; community
			</h2>

			<p class="text-xl leading-relaxed text-subtle">
				Rosé Pine is an elegant palette featured in over {
					Math.floor(allRepos.length / 10) * 10
				} of your favourite apps, thanks to our lovely and generous <a
					href={translatePath("/contributors")}
					class="link">contributors</a
				>.
			</p>
		</div>
		<div
			class="flex flex-col gap-6 rounded-3xl border border-muted/10 bg-surface p-10"
		>
			<Flower5Icon class="size-11 fill-foam/20 stroke-foam" />

			<h2 class="text-4xl font-semibold tracking-tight">Passionately subtle</h2>

			<p class="text-xl leading-relaxed text-subtle">
				With a focus on quality and purpose, our curated colours are built <i
					class="font-serif">to inspire</i
				>, not to overwhelm. We're excited for you to <a
					href={translatePath("/create")}
					class="link">share your creations</a
				> with the world.
			</p>
		</div>
		<div
			class="flex flex-col gap-6 rounded-3xl border border-muted/10 bg-surface p-10"
		>
			<Flower10Icon class="size-11 fill-gold/20 stroke-gold" />

			<h2 class="text-4xl font-semibold tracking-tight">
				Inclusive, equal, diverse
			</h2>

			<p class="text-xl leading-relaxed text-subtle">
				We are constantly striving to provide a safe and encouraging environment
				for all. You are loved and appreciated.
			</p>
		</div>
	</section>
</Page>
