---
import Layout from "../../layouts/Layout.astro";
import {
	getLangPaths,
	useTranslatedPath,
	useTranslations,
} from "../../i18n/utilities";

export async function getStaticPaths() {
	return getLangPaths();
}

let { lang = "en" } = Astro.params;
let t = useTranslations(lang);
let translatePath = useTranslatedPath(lang);
---

<Layout title={t("home.title")} description={t("home.description")}>
	<section
		class="wrapper py-page-top flex min-h-[calc(100dvh-var(--spacing-header-height)-var(--spacing-page-top))] flex-col justify-center"
	>
		<h1
			class="animate-enter mb-4 max-w-2xl text-6xl font-bold tracking-tight text-balance sm:text-8xl lg:text-9xl"
			style="--stagger: 1"
		>
			{t("home.title")}
		</h1>
		<p
			class="animate-enter text-subtle mb-12 max-w-md text-xl"
			style="--stagger: 2"
		>
			{t("home.description")}
		</p>
		<div class="flex items-center gap-5">
			<a
				href={translatePath("/themes")}
				class="animate-enter border-pine/20 bg-pine/90 text-surface shadow-pine/30 hover:bg-pine dark:text-text flex shrink-0 items-center gap-2.5 rounded-lg border px-4 py-2.5 font-medium shadow-sm transition select-none"
				style="--stagger: 2.5"
			>
				{t("home.primary_action")}
			</a>
			<a
				href={translatePath("/create")}
				class="animate-enter border-muted/20 bg-muted/10 hover:bg-muted/15 flex shrink-0 items-center gap-2.5 rounded-lg border px-4 py-2.5 font-medium shadow-sm transition select-none"
				style="--stagger: 2.75"
			>
				{t("home.secondary_action")}
			</a>
		</div>
	</section>
</Layout>
