---
import Layout from "../../layouts/Layout.astro";
import { getLangPaths, useTranslations } from "../../i18n/utilities";

export async function getStaticPaths() {
	return getLangPaths();
}

let { lang = "en" } = Astro.params;
let t = useTranslations(lang);
---

<Layout title={t("palette.title")} description={t("palette.description")}>
	<section class="wrapper">
		<h1 class="animate-enter" style="--stagger: 1">{t("palette.title")}</h1>
		<p class="animate-enter" style="--stagger: 2">{t("palette.description")}</p>
	</section>
</Layout>
