---
import IntroSection from "../../../components/intro-section.astro";
import { useTranslations, withLocalePaths } from "../../../utilities/i18n";
import Page from "../../../layouts/page.astro";
import categories from "../../../data/categories.json";

export async function getStaticPaths() {
	return await withLocalePaths();
}

let { locale = "en" } = Astro.params;
let t = useTranslations(locale);
---

<Page title={t("submit.title")} description={t("submit.description")}>
	<IntroSection
		headline={t("submit.title")}
		subheadline={t("submit.description")}
	/>

	<section class="wrapper">
		<div class="animate-enter" style="--stagger: 3">
			<form
				name="theme"
				method="POST"
				netlify-honeypot="bot-field"
				data-netlify="true"
				class="flex flex-col gap-6"
			>
				<div class="hidden">
					<label for="bot-field">Don't fill this out if you're human</label>
					<input id="bot-field" name="bot-field" type="text" />
				</div>
				<div class="flex max-w-md flex-col gap-1.5">
					<label for="repository-link" class="font-medium"
						>{t("submit.form.link_label")}</label
					>
					<input
						required
						id="repository-link"
						name="repository-link"
						type="text"
						class="h-10 rounded-sm border border-muted/20 px-3 font-mono placeholder-muted placeholder:text-sm"
						placeholder="https://sr.ht/~her/love"
					/>
				</div>
				<div class="flex max-w-md flex-col gap-1.5">
					<label for="repository-category" class="font-medium"
						>{t("submit.form.category_label")}</label
					>
					<select
						required
						id="repository-category"
						name="repository-category"
						class="h-10 appearance-none rounded-sm border border-muted/20 px-3 font-mono capitalize placeholder-muted placeholder:text-sm"
					>
						{
							categories.map((category) => (
								<option value={category}>{category}</option>
							))
						}
					</select>
				</div>
				<div>
					<button
						type="submit"
						class="flex shrink-0 items-center gap-2.5 rounded-lg border border-pine/20 bg-pine/90 px-4 py-2.5 font-medium text-surface shadow-sm shadow-pine/30 transition select-none hover:bg-pine dark:text-text"
						>{t("submit.form.primary_action")}</button
					>
				</div>
			</form>
		</div>
	</section>
</Page>
