---
import Layout from "$layouts/base.astro";
---

<Layout
	title="Something beautiful"
	description="All natural pine, faux fur and a bit of soho vibes for the classy minimalist."
>
	<h1>Something beautiful</h1>
	<p>
		All natural pine, faux fur and a bit of soho vibes for the classy
		minimalist.
	</p>
</Layout>
