---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<title>Rosé Pine</title>
	</head>
	<body>
		<h1>Rosé Pine</h1>
	</body>
</html>
