---
import Layout from "../layouts/Layout.astro";
---

<Layout
	title="Something beautiful"
	description="All natural pine, faux fur and a bit of soho vibes for the classy minimalist."
>
	<section>
		<h1>Something beautiful</h1>
		<p>
			All natural pine, faux fur and a bit of soho vibes for the classy
			minimalist.
		</p>
	</section>
</Layout>
