---
import Layout from "$layouts/base.astro";
---

<Layout
	title="Themes"
	description="Hand-crafted collection of personalisation."
>
	<h1>Themes</h1>
	<p>Hand-crafted collection of personalisation.</p>
</Layout>
