---
import Layout from "$layouts/base.astro";
import PageIntro from "$components/page-intro.svelte";
import ThemesFilter from "$components/themes-filter.svelte";
import ThemesList from "$components/themes-list.svelte";
import { themes, authors } from "$data/themes";
---

<Layout
	title="Themes"
	description="Hand-crafted collection of personalisation."
>
	<PageIntro
		heading="Themes"
		subheading="Hand-crafted collection of personalisation."
		tagline={`${themes.length} ports & ${authors.size} authors`}
	>
		<ThemesFilter client:load />
	</PageIntro>

	<div class="h-20"></div>

	<section class="animate-enter" style="--stagger: 2">
		<ThemesList client:load />
	</section>
</Layout>
