---
import { t, changeLanguage } from "i18next";
import Layout from "$layouts/base.astro";
import PageIntro from "$components/page-intro.svelte";
import ThemesFilter from "$components/themes-filter.svelte";
import ThemesTagsList from "$components/themes-tags-list.svelte";
import ThemesList from "$components/themes-list.svelte";
import { themes, authors } from "$data/themes";

changeLanguage("zh-CN");
---

<Layout title={t("themes.title")} description={t("themes.description")}>
	<PageIntro
		heading={t("themes.title")}
		subheading={t("themes.description")}
		tagline={t("themes.tagline", {
			numberOfPorts: themes.length,
			numberOfAuthors: authors.size,
		})}
	>
		<ThemesFilter client:load label={t("themes.search_label")} />
	</PageIntro>

	<div class="h-20"></div>

	<section class="animate-enter" style="--stagger: 2">
		<ThemesTagsList client:load />

		<div class="h-10"></div>

		<ThemesList client:load />
	</section>
</Layout>
