---
import IntroSection from "../../../components/intro-section.astro";
import ThemeList from "../../../components/theme-list.svelte";
import ThemeSearch from "../../../components/theme-search.svelte";
import ThemeTagList from "../../../components/theme-tag-list.svelte";
import { getContributorCount, getSortedRepos } from "../../../data";
import tags from "../../../data/tags.json";
import { useTranslations, withLangPaths } from "../../../i18n/utilities";
import Page from "../../../layouts/page.astro";

export async function getStaticPaths() {
	return await withLangPaths();
}

let { lang = "en" } = Astro.params;
let t = useTranslations(lang);

let sortedRepos = getSortedRepos();

let repoCount = sortedRepos.length;
let contributorCount = getContributorCount();
---

<Page title={t("themes.title")} description={t("themes.description")}>
	<IntroSection
		headline={t("themes.title")}
		subheadline={t("themes.description")}
		callout={`${repoCount} ports & ${contributorCount} contributors`}
	/>

	<div class="h-page-top"></div>

	<section class="wrapper animate-enter" style="--stagger: 2.75">
		<ThemeSearch client:only="svelte" />

		<div class="h-5"></div>

		<ThemeTagList client:only="svelte" tags={tags} />
	</section>

	<div class="h-page-top"></div>

	<section class="wrapper animate-enter" style="--stagger: 3">
		<ThemeList client:only="svelte" themes={sortedRepos} />
	</section>
</Page>
