<div
	class="grid aspect-video min-w-lg grid-rows-[auto_1fr_auto] bg-base sm:aspect-3/2"
>
	<div class="flex items-center gap-1.5 p-4">
		<div class="size-3 rounded-full bg-muted/20"></div>
		<div class="size-3 rounded-full bg-muted/20"></div>
		<div class="size-3 rounded-full bg-muted/20"></div>
	</div>

	<div
		class="relative overflow-hidden [--line-gap:--spacing(3.5)] [--tab-width:--spacing(8)] [--word-gap:--spacing(3.5)] [--word-height:--spacing(3.5)]"
	>
		<div class="absolute h-full w-full bg-linear-to-b from-60% to-surface/90">
		</div>

		<div class="flex flex-col gap-(--line-gap) p-4">
			<div class="flex items-center gap-(--word-gap)">
				<div class="h-(--word-height) w-10 rounded-full bg-pine"></div>
				<div class="h-(--word-height) w-8 rounded-full bg-text"></div>
				<div class="h-(--word-height) w-8 rounded-full bg-pine"></div>
				<div class="h-(--word-height) w-14 rounded-full bg-gold"></div>
			</div>
			<div class="flex items-center gap-(--word-gap)">
				<div class="h-(--word-height) w-10 rounded-full bg-pine"></div>
				<div class="h-(--word-height) w-10 rounded-full bg-text"></div>
				<div class="h-(--word-height) w-8 rounded-full bg-pine"></div>
				<div class="h-(--word-height) w-18 rounded-full bg-gold"></div>
			</div>
			<div class="h-(--word-height)"></div>
			<div class="flex items-center gap-(--word-gap)">
				<div class="h-(--word-height) w-14 rounded-full bg-pine"></div>
				<div class="h-(--word-height) w-24 rounded-full bg-rose"></div>
				<div class="h-(--word-height) w-8 rounded-full bg-iris"></div>
				<div class="h-(--word-height) w-8 rounded-full bg-iris"></div>
				<div class="h-(--word-height) w-6 rounded-full bg-muted"></div>
			</div>
			<div class="flex items-center gap-(--word-gap)">
				<div class="h-(--word-height) w-(--tab-width)"></div>
				<div class="h-(--word-height) w-8 rounded-full bg-subtle"></div>
				<div class="h-(--word-height) w-14 rounded-full bg-subtle"></div>
				<div class="h-(--word-height) w-10 rounded-full bg-subtle"></div>
			</div>
			<div class="flex items-center gap-(--word-gap)">
				<div class="h-(--word-height) w-(--tab-width)"></div>
				<div class="h-(--word-height) w-12 rounded-full bg-love"></div>
				<div class="h-(--word-height) w-18 rounded-full bg-text"></div>
				<div class="h-(--word-height) w-14 rounded-full bg-gold"></div>
				<div class="h-(--word-height) w-24 rounded-full bg-text"></div>
			</div>
			<div class="h-(--word-height)"></div>
			<div class="flex items-center gap-(--word-gap)">
				<div class="h-(--word-height) w-(--tab-width)"></div>
				<div class="h-(--word-height) w-8 rounded-full bg-pine"></div>
				<div class="h-(--word-height) w-16 rounded-full bg-text"></div>
				<div class="h-(--word-height) w-14 rounded-full bg-iris"></div>
				<div class="h-(--word-height) w-12 rounded-full bg-foam"></div>
				<div class="h-(--word-height) w-6 rounded-full bg-muted"></div>
			</div>
			<div class="flex items-center gap-(--word-gap)">
				<div class="h-(--word-height) w-(--tab-width)"></div>
				<div class="h-(--word-height) w-(--tab-width)"></div>
				<div class="h-(--word-height) w-9 rounded-full bg-foam"></div>
				<div class="h-(--word-height) w-15 rounded-full bg-rose"></div>
			</div>
			<div class="flex items-center gap-(--word-gap)">
				<div class="h-(--word-height) w-(--tab-width)"></div>
				<div class="h-(--word-height) w-(--tab-width)"></div>
				<div class="h-(--word-height) w-13 rounded-full bg-foam"></div>
				<div class="h-(--word-height) w-17 rounded-full bg-gold"></div>
			</div>
			<div class="flex items-center gap-(--word-gap)">
				<div class="h-(--word-height) w-(--tab-width)"></div>
				<div class="h-(--word-height) w-(--tab-width)"></div>
				<div class="h-(--word-height) w-11 rounded-full bg-foam"></div>
				<div class="h-(--word-height) w-19 rounded-full bg-gold"></div>
			</div>
			<div class="flex items-center gap-(--word-gap)">
				<div class="h-(--word-height) w-(--tab-width)"></div>
				<div class="h-(--word-height) w-6 rounded-full bg-muted"></div>
			</div>
			<div class="flex items-center gap-(--word-gap)">
				<div class="h-(--word-height) w-6 rounded-full bg-muted"></div>
			</div>
		</div>
	</div>
	<div
		class="flex items-center gap-1.5 bg-surface/90 px-4 py-2 text-muted backdrop-blur-md"
	>
		<svg
			viewBox="0 0 15 15"
			fill="none"
			xmlns="http://www.w3.org/2000/svg"
			width="9"
			height="9"
			><path
				d="M2.5 4.5a2 2 0 110-4 2 2 0 010 4zm0 0v6m2 2a2 2 0 11-2-2m2 2a2 2 0 00-2-2m2 2h5a3 3 0 003-3v-2m0 0a2 2 0 110-4 2 2 0 010 4z"
				stroke="currentColor"></path></svg
		>
		<span class="font-mono text-[11px]">main</span>
	</div>
</div>
