---
import IntroSection from "../../../components/intro-section.astro";
import ThemeCategories from "../../../components/theme-categories.svelte";
import ThemeList from "../../../components/theme-list.svelte";
import ThemeSearch from "../../../components/theme-search.svelte";
import { getContributorCount, getSortedRepos } from "../../../data";
import Page from "../../../layouts/page.astro";
import { useTranslations, withLocalePaths } from "../../../utilities/i18n";

export async function getStaticPaths() {
	return await withLocalePaths();
}

let { locale = "en" } = Astro.params;
let t = useTranslations(locale);

let sortedRepos = getSortedRepos();

let repoCount = sortedRepos.length;
let contributorCount = getContributorCount();
---

<Page title={t("themes.title")} description={t("themes.description")}>
	<IntroSection
		headline={t("themes.title")}
		subheadline={t("themes.description")}
		callout={`${repoCount} ${t("themes.ports")} & ${contributorCount} ${t("themes.contributors")}`}
	/>

	<section class="wrapper animate-enter" style="--stagger: 2.75">
		<div class="flex flex-col gap-5">
			<ThemeSearch client:only="svelte" />
			<ThemeCategories client:only="svelte" />
		</div>
	</section>

	<div class="h-page-top"></div>

	<section class="wrapper animate-enter" style="--stagger: 3">
		<ThemeList client:only="svelte" themes={sortedRepos} />
	</section>
</Page>
