@import url('https://rsms.me/inter/inter.css');
@font-face {
	font-family: 'Pier Sans';
	font-style: normal;
	font-weight: bold;
	src: url('/fonts/PierSans-Bold.otf') format('opentype');
	font-display: fallback;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--base: #faf4ed;
	--surface: #fffaf3;
	--overlay: #f2e9e1;
	--muted: #9893a5;
	--subtle: #797593;
	--text: #575279;

	--love: #b4637a;
	--love-low: rgba(180, 99, 122, 0.1);
	--love-med: rgba(180, 99, 122, 0.15);
	--love-high: rgba(180, 99, 122, 0.2);

	--gold: #ea9d34;
	--gold-low: rgba(234, 157, 52, 0.1);
	--gold-med: rgba(234, 157, 52, 0.15);
	--gold-high: rgba(234, 157, 52, 0.2);

	--rose: #d7827e;
	--rose-low: rgba(215, 130, 126, 0.1);
	--rose-med: rgba(215, 130, 126, 0.15);
	--rose-high: rgba(215, 130, 126, 0.2);

	--pine: #286983;
	--pine-low: rgba(40, 105, 131, 0.1);
	--pine-med: rgba(40, 105, 131, 0.2);
	--pine-high: rgba(40, 105, 131, 0.3);

	--foam: #56949f;
	--foam-low: rgba(86, 148, 159, 0.1);
	--foam-med: rgba(86, 148, 159, 0.15);
	--foam-high: rgba(86, 148, 159, 0.2);

	--iris: #907aa9;
	--iris-low: rgba(144, 122, 169, 0.1);
	--iris-med: rgba(144, 122, 169, 0.15);
	--iris-high: rgba(144, 122, 169, 0.2);

	--highlight-low: rgba(110, 106, 134, 0.05);
	--highlight-low-blend: rgb(244, 237, 232);

	--highlight-med: rgba(110, 106, 134, 0.08);
	--highlight-med-blend: rgb(223, 218, 217);

	--highlight-high: rgba(110, 106, 134, 0.15);
	--highlight-high-blend: rgb(206, 202, 205);
}

@media (prefers-color-scheme: dark) {
	:root {
		--base: #191724;
		--surface: #1f1d2e;
		--overlay: #26233a;
		--muted: #6e6a86;
		--subtle: #908caa;
		--text: #e0def4;

		--love: #eb6f92;
		--love-low: rgba(235, 111, 146, 0.1);
		--love-med: rgba(235, 111, 146, 0.15);
		--love-high: rgba(235, 111, 146, 0.2);

		--gold: #f6c177;
		--gold-low: rgba(246, 193, 119, 0.1);
		--gold-med: rgba(246, 193, 119, 0.15);
		--gold-high: rgba(246, 193, 119, 0.2);

		--rose: #ebbcba;
		--rose-low: rgba(235, 188, 186, 0.1);
		--rose-med: rgba(235, 188, 186, 0.15);
		--rose-high: rgba(235, 188, 186, 0.2);

		--pine: #31748f;
		--pine-low: rgba(49, 116, 143, 0.1);
		--pine-med: rgba(49, 116, 143, 0.15);
		--pine-high: rgba(49, 116, 143, 0.2);

		--foam: #9ccfd8;
		--foam-low: rgba(156, 207, 216, 0.1);
		--foam-med: rgba(156, 207, 216, 0.15);
		--foam-high: rgba(156, 207, 216, 0.2);

		--iris: #c4a7e7;
		--iris-low: rgba(196, 167, 231, 0.1);
		--iris-med: rgba(196, 167, 231, 0.15);
		--iris-high: rgba(196, 167, 231, 0.2);

		--highlight-low: rgba(110, 106, 134, 0.1);
		--highlight-low-blend: rgb(33, 32, 46);

		--highlight-med: rgba(110, 106, 134, 0.2);
		--highlight-med-blend: rgb(64, 61, 82);

		--highlight-high: rgba(110, 106, 134, 0.4);
		--highlight-high-blend: rgb(82, 79, 103);
	}
}

::selection {
	background-color: var(--highlight-med);
}

html {
	background-color: var(--base);
}

body {
	color: var(--text);
	background-color: var(--base);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	padding: 0.125rem 0.25rem;
	font-size: theme('fontSize.sm');
	background-color: var(--overlay);
	border-radius: theme('borderRadius.md');
}

.animate-enter {
	opacity: 0;
	animation: enter 500ms forwards;
	animation-delay: calc(var(--stagger) * 200ms);
}

@keyframes enter {
	0% {
		opacity: 0;
		transform: translateY(10px);
	}

	to {
		opacity: 1;
		transform: none;
	}
}

/* TODO: handle reduce motion on a case by case basis */
@media (prefers-reduced-motion: reduce) {
	* {
		animation-delay: 0.01ms !important;
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
	}
}
