---
import Banner from "$components/banner.svelte";
import Header from "$components/header.svelte";
import Footer from "$components/footer.svelte";
import { pathname } from "$store";
import "../global.css";

export type Props = {
	title: string;
	description: string;
};

const { title, description } = Astro.props;

pathname.set(Astro.url.pathname);
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/favicon.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content={description} />
		<meta property="og:image" content="/assets/opengraph-image.jpg" />
		<title>{title}</title>
	</head>

	<body>
		<a href="#content" class="sr-only">Skip to main content</a>

		<Banner
			links={[
				[
					"Support Ukraine",
					"https://heavy.com/news/help-ukraine-verified-charities-aid-relief-gofundme/",
				],
				["The Equal Justice Initiative", "https://eji.org"],
			]}
		/>

		<Header />

		<main id="content" class="flex justify-center px-page-gutter py-page-top">
			<div class="min-h-content w-full max-w-content">
				<slot />
			</div>
		</main>

		<Footer />
	</body>
</html>
