---
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
import { getLangFromUrl } from "../i18n/utilities";
import "../styles/global.css";

type Props = {
	title: string;
	description: string;
};
let { title, description } = Astro.props;

let lang = getLangFromUrl(Astro.url);
---

<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicon.png" />
		<meta name="description" content={description} />
		<meta name="generator" content={Astro.generator} />
		<title>{title} - Rosé Pine</title>
	</head>
	<body>
		<a
			href="#content"
			class="focus:bg-surface sr-only focus:not-sr-only focus:fixed focus:top-3 focus:left-3 focus:rounded focus:p-1.5 focus:font-medium"
			>Skip to main content</a
		>

		<Header />

		<main id="content">
			<slot />
		</main>

		<Footer />
	</body>
</html>
