---
import "../styles/global.css";

type Props = {
	title: string;
	description: string;
};
let { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicon.png" />
		<meta name="description" content={description} />
		<meta name="generator" content={Astro.generator} />
		<title>{title} - Rosé Pine</title>
	</head>
	<body>
		<slot />
	</body>
</html>
