name: Nightly build
on:
  schedule:
  - cron: '0 0 * * *'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Trigger Netlify Build hook
      run: curl -X POST -d '{}' https://api.netlify.com/build_hooks/${NETLIFY_TOKEN}
